{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h2 class="text-center pt-5">Review your shopping cart</h2>
</div>
</div>

<div class="row">
<div class="col">
{% if cart_items %}
<div class="table-responsive rounded">
{{ cart_items }}
</div>
{% else %}
<h3 class="text-center pt-5">Your cart is empty</h3>
</div>
</div>
<div class="row pt-3">
<a href="{% url 'products' %}" class="btn mx-auto d-block">
<h6 class="pt-2 text-white">Keep Shopping!</h6>
</a>
</div>
<div class="row">
<iframe src="https://giphy.com/embed/63HaI2YG5o5okNRNn2" width="100" height="100" frameBorder="0" class="col order-md-4" allowFullScreen></iframe>
{% endif %}
</div>
</div>

{% endblock %}