{% extends "base.html" %}
{% load static %}

{% block content %}

     <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
                <h2 class="illustrations letters">
                    <p>Illustrations</p>
                </h2>
                <div>
                    <p class="check_it go_to">
                        Please check out more illustrations
                    </p>
        <form method="GET" action="{% url 'products' %}">
  <input class="go_position" type="text" name="q" placeholder="Search..">
</form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="static/img/tent.svg" alt="About us" class="img-fluid">
                </div>
            </div>
            
        </div>
    </div>     

    <main>
<section class="row">
<div class="col-md-6">
<img src="static/img/about.svg" alt="" class="img-fluid about">
</div>
<div class="col-md-6">
<h1 class="about_us pl-2"><b>About Us</b></h1>
<p class="about_para">We are a start up company providing illustartions to the public to use for their websites, social medias, print out etc. </p>
</div>
</section>
</main>

<main>
<section class="gallery">
<div class="info">
<h1 class="pt-4 text-center">Gallery</h1>
<p class="pt-2 text-center">Take a  look at our awesome illustrations below!</p>
</div>
</section>
</main>


<div class="gallery">
<div class="img-container">
<img src="static/img/adventure1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="adventure1.svg">
</div>
<div class="img-container">
<img src="static/img/different_ages1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="creative_person1.svg">
</div>
<div class="img-container">
<img src="static/img/creative_person1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="different_ages1.svg">
</div>
<div class="img-container">
<img src="static/img/hospital1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="hospital.svg">
</div>
<div class="img-container">
<img src="static/img/influencer1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="influencer1.svg">
</div>
<div class="img-container">
<img src="static/img/imagination1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="imagination1.svg">
</div>
</div>
<div class="box-1">
  <div class="btn btn-one">
    <span><a href="{% url 'products' %}">View more!</a></span>
  </div>
</div>

<h2 class="text-center pt-5">Would you like to become a member?</h2>
<p class="text-center pt-2 pb-5">Check out the different subscriptions we offer for you to have full unlimited access to the images. </p>
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/img/notify.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">1 Month Subscription</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">More Info</a>
  </div>
  </div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/img/photo.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">6 Months Subscription</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">More Info</a>
  </div>
</div>
</div><div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/img/making_art.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">1 Year Subscription</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">More Info</a>
  </div>
</div>
</div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container py-2">
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div id="testimonials-section" class="container-fluid pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <div id="testimonials-container" class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <h3>What my clients have said</h3>
                    </div>
                    <div class="col-12">
                        <!-- testimonials carousel -->
                        <div id="testimonials-carousel" class="carousel slide pb-4" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="3"></li>
                                <li data-target="#testimonials-carousel" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="testimonial-wrapper d-block">
                                           <p>This website is easy to look through and has amazing Illustrations</p>
                                            <footer>- sherrihowe, <cite>Etsy Feedback</cite></footer>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-wrapper d-block">
                                            <p>This website is easy to look through and has amazing Illustrations</p>
                                            <footer><img src="{% static 'img/avatar.svg' %}" alt="">- Mandi Chell, <cite>Etsy Feedback</cite></footer>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-wrapper d-block">
                                        
                                           <p>This website is easy to look through and has amazing Illustrations</p>
                                            <footer>- Heather A Small, <cite>Etsy Feedback</cite></footer>
                                     
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-wrapper d-block">
                                        
                                            <p>This website is easy to look through and has amazing Illustrations</p>
                                            <footer>- kwang031, <cite>Etsy Feedback</cite></footer>
                                       
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="testimonial-wrapper d-block">
                                       
                                            <p>This website is easy to look through and has amazing Illustrations</p>
                                            <footer>- Antonella, <cite>Etsy Feedback</cite></footer>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}