{% extends "base.html" %}
{% load static %}

{% block content %}
     <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
                <h2 class="illustrations letters">
                    <p>Illustrations</p>
                </h2>
                <div>
                    <p class="check_it go_to">
                        Please check out more illustrations
                    </p>
        <form method="GET" action="">
  <input class="go_position" type="text" name="q" placeholder="Search..">
</form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="static/images/tent.svg" alt="About us" class="img-fluid">
                </div>
            </div>
            
        </div>
    </div>     

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
        <img src="static/images/about.svg" alt="" id="about">
        </div>
        <div class="col-md-6">
        <h1 class="about_us"> About Us</h1>
        <p class="about_para">At Illustrations, we work hard to provide our users with cool, fun, in trend, unique Illustrations which can be incorporated into websites, posters, T-Shirts etc. We update every week with new fun and exciting illustrations and offer personalised illustrations to meet the users needs.  </p>
        </div>
        </div>
    </div>
{% endblock %}