{% extends "base.html" %}
{% load static %}

{% block content %}

     <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
                <h2 class="illustrations letters">
                    <p>Illustrations</p>
                </h2>
                <div>
                    <p class="check_it go_to">
                        Please check out more illustrations
                    </p>
        <form method="GET" action="">
  <input class="go_position" type="text" name="q" placeholder="Search..">
</form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="static/img/tent.svg" alt="About us" class="img-fluid">
                </div>
            </div>
            
        </div>
    </div>     

    <main>
<section class="row">
<div class="col-md-6">
<img src="static/img/about.svg" alt="" class="img-fluid about">
</div>
<div class="col-md-6">
<h1 class="about_us"><b>About Us</b></h1>
<p class="about_para">We are a start up company providing illustartions to the public to use for their websites, social medias, print out etc. </p>
</div>
</section>
</main>

<main>
<section class="gallery">
<div class="info">
<h1>Gallery</h1>
<p>Take a  look at our awesome illustrations below!</p>
</div>
</section>
</main>


<div class="gallery">
<div class="img-container">
<img src="static/img/adventure1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="adventure1.svg">
</div>
<div class="img-container">
<img src="static/img/different_ages1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="creative_person1.svg">
</div>
<div class="img-container">
<img src="static/img/creative_person1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="different_ages1.svg">
</div>
<div class="img-container">
<img src="static/img/hospital1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="hospital.svg">
</div>
<div class="img-container">
<img src="static/img/influencer1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="influencer1.svg">
</div>
<div class="img-container">
<img src="static/img/imagination1.svg" alt="Let's have an adventure around the world" class="img-fluid" data-original="imagination1.svg">
</div>
</div>
<div class="box-1">
  <div class="btn btn-one">
    <span><a href="products.html">View more!</a></span>
  </div>
</div>

<h3>Would you like to become a member?</h3>
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div><div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>
</div>


{% endblock %}