{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="pt-5 pl-4">Illustrations</h1>
   <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}> Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}><a href="{% url 'products' %}?sort=price&direction=asc">Price (low to high)</a></option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}> Price (high to low)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-12 col-md-6 order-md-first pl-5">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
{% for product in products %}
<!--<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{{MEDIA_URL}}{{product.image}}" class="product.image" alt="{{product.name}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p> {{ product.price }}</p>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
  </div>
</div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <h2>{{ product.name }}</h2>
    </div>
  </div>
</div>

-->
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="image">
<a href="{% url 'product_detail' product.id %}">
 <img src="{{MEDIA_URL}}{{product.image}}" class="product.image w-100" alt="{{product.name}}">
<div class="overlay">
<div class="detail">View Details</div>
</div>
</a>
</div>
<h4 class="text-center">{{ product.name }}</h4>
<h5 class="text-center">{{ product.description }}</h5>
<h5 class="text-center">£{{ product.price }}</h5>
</div>
</div>
</div>


{% endfor %}
{% endblock %}
