{% load static %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add to cart</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <h4 class="text-center">Added successfully into the cart</h4>
    <div class="row">
    <iframe src="https://giphy.com/embed/hTHSiaKcNwvkcHFTB9" width="480" height="192" frameBorder="0" class="giphy-embed col order-md-4 pt-5 pb-5" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/shop-sale-add-to-cart-hTHSiaKcNwvkcHFTB9"></a></p>
    </div>
    <h5 class="text-center">Would you like to continue shopping?</h5>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Illustrations</button>
        <button type="button" class="btn btn-primary">Go to cart</button>
      </div>
    </div>
   
  </div>
</div>